.quotation-width__50 {
  max-width: 3.125rem;
  min-width: 3.125rem;
  width: 3.125rem;
}

.quotation-width__100 {
  max-width: 7.25rem;
  min-width: 7.25rem;
  width: 7.25rem;
}

.quotation-width__150 {
  max-width: 9.375rem;
  min-width: 9.375rem;
  width: 9.375rem;
  padding-left: 15px;
}
